html * {
	margin: 0;
	padding: 0;
}
body{ min-width: 1000px; }
body,
textarea,
input[type=text]{
	font-size: 14px;
	color: #999;
	font-family:
		Meiryo,
		'メイリオ',
		'Hiragino Kaku Gothic Pro',
		'ヒラギノ角ゴ Pro W3' ,
		'Century Gothic',
		Verdana;
}
small{font-size:11px;}

input[type=radio] ,
input[type=checkbox] ,
label{
	vertical-align:middle;
}

body,
textarea,
.txtarea-wrap,
#footer-wrap,
input[type=text]{
	background-color: #1a1a1a;
}
#outer-wrap2{
	background-color: #222222;
}

.outer{
	border-top: 1px solid #111111;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #111111;
	border-right: 1px solid #333;
}
.inner,#btn-exec{
	border-top: 1px solid #333333;
	border-bottom: 1px solid #111111;
	border-left: 1px solid #333333;
	border-right: 1px solid #111111;
}

a,#btn-exec{
	cursor: pointer;
	text-decoration:none;
	color: #99cc00;
}
a:hover{ color: #f66; }
#btn-exec{
	text-align: center;
	display: block;
	line-height: 1.8em;
	background-color: #202020;
}

textarea{
	line-height: 1.4em;
	width:100%;
	height:100%;
	border-width:0;
	overflow:auto;
}

#sidebar,
#outer-wrap1,
#outer-wrap3,
.header-logo,
.footer-content,
.txtarea-wrap,
table,.label{ margin: 0 auto; }

#Header-wrap,
.header-logo,
.header{ height: 120px; }

#Header-wrap{ 
	background: url("./img/header_bg.png") repeat-x bottom;
}
.header-logo{
	background: url("./img/hblogo.png") no-repeat bottom left;
}
.header{
	background: url("./img/rplccdstr_header.png") no-repeat bottom center;
}
#outer-wrap0{
	background: url("./img/bg.png");
}
#outer-wrap1,
.header-logo,
.footer-content{
	width: 90%;
}
#outer-wrap1{
	border-left: 1px solid #111111;
	border-right: 1px solid #333333;
}
#outer-wrap2{
	border-left: 1px solid #333333;
	border-right: 1px solid #111111;
}
#outer-wrap3{ width: 98%; }
#left-wrap{
	width: 20%;
	float: left;
	min-width:190px;
}
#content-wrap{
	width: 78%;
	height:100%;
	float: right;
}
#center-wrap,#right-wrap{width: 49%;}
#center-wrap{float: left;}
#right-wrap{float: right;}

form{ cursor: default; }
table{
	width: 100%;
	border: none;
}
td{vertical-align: text-top;}
h4{
	font-size:14px;
	border: 1px solid #4c4c4c;
	background-color: #333333;
	line-height: 1.8em;
	display: block;
	text-align: center;
}

.txtarea-wrap{
	text-align:center;
}

.txtarea-wrap,
input[type=text]{
	border:1px solid #333333;
}

input[type=text]:disabled{
	background-color: #333333;
	border:1px solid #1a1a1a;
}

#firstline-num,
#space-count{
	text-align:right;
	margin-left:2px;
	vertical-align:middle;
}
#space-count{width:24px;}
#firstline-num{width:38px;}

ul{
	list-style:none;
	text-indent: 10px;
	margin: 10px 0;
}
ul#wrap-prettify-lang,
ul#wrap-synxhr-code{
	margin-top: 0;
	text-indent: 24px;
}
label{
	cursor: pointer;
	margin-left: 4px;
}
.inner{ padding: 4px; }
.liner-outer{
	border-top:1px solid #111111;
	border-bottom:1px solid #333333;
}
.liner,.dummy{ height: 20px; }

.liner{
	background: url("./img/line.png") repeat-x ;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #111111;
}
.clear,.liner{ clear: both; }
#usage table{ border-spacing: 0px 10px; }
#usage-table{
	padding:0px 5px;
}
#footer-wrap{
	text-align:right;
	color: #808080;
}

.footer-content{
	line-height:2.4em;
	height:60px;
}
small{ color:#666666; }
.footer-content #copyright{
}
