@charset 'UTF-8';

html{
	min-width: 940px;
}
body{
	margin: 0;
	padding: 0;
	background: #191919 url("if_bg.png") repeat-y center;
	color: #ccc;
	font-size: 12px;
	font-family: Meiryo,
					'メイリオ',
					'Hiragino Kaku Gothic Pro',
					'ヒラギノ角ゴ Pro W3' ,
					'Centry Gothic',
					Verdana;
}

a b{
	font-weight: normal;
}

a b,a b:link,a b:visited,a:link, a:visited{
	text-decoration:none !important;
	color: #99cc00 !important;
}
a b:hover,.Menu_li a:hover, a:hover{
	color: #f66 !important;
}

a img{
	padding: 2px  !important;
	vertical-align: middle;
	border: 1px solid #333 !important;
}
a img:hover {
	border: 1px solid #f99  !important;
}

.gsc-results .gsc-trailing-more-results,
.gsc-results .gsc-trailing-more-results *,
.gs-result a.gs-clusterUrl,
.gs-result .gs-clusterUrl,
.gs-result .gs-title,
.gs-result .gs-title * {
	text-decoration: none !important;
}

.gs-result .gs-visibleUrl-short{
	color: #6F6F6F !important;
}

.gsc-cursor-page{
	color: #ccc !important;
	text-decoration: none !important;
}
.gsc-title,.gsc-cursor-current-page{
	color: #f66 !important;
}
input.gsc-input{
	width: 210px !important;
}

td.gsc-search-button{
	height: 24px;
}

/* ----------------------------------------- Header-Wrapper -- */
#Header-Wrapper{
	margin-bottom: 1em;
	background: url("if_header_bg.png") repeat-x;
	padding: 0;
}
.header{
	width: 900px;
	margin:0 auto;
	padding: 0;
}
.header img{
	padding: 0;
	margin: 0;
}


/* ----------------------------------------- Outer-Wrapper -- */
#Outer-Wrapper{
	width: 900px;
	margin: 0 auto;
}



/* ----------------------------------------- Sidebar-Wrapper -- */
#Sidebar-Wrapper{
	width: 180px;
	background-color: #191919;
	float:left;
	border-top: 1px solid #111;
	border-right: 1px solid #333;
	border-left: 1px solid #111;
	border-bottom: 1px solid #333;
}

#EntryOptions{
	border-top: 1px solid #333;
	border-right: 1px solid #111;
	border-left: 1px solid #333;
	border-bottom: 1px solid #111;
}

#EntryOptionsForm{
	 margin: 0 0 0 10px;
}
input.hiddenValue{
	visibility: hidden;
	display: none;
	height: 0px;
}

.formLabel{
	text-align: right;
}

.MenuTitle{
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	line-height: 2em;
	padding: 0;
	border-top: 1px solid #333;
	border-right: 1px solid #111;
	border-left: 1px solid #333;
	border-bottom: 1px solid #111;
}

.Menu_ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.Menu_li{
	text-align: center;
	text-indent: 0;
	margin: 0;
	padding: 0;
	display: block;
	border-top: 1px solid #333;
	border-right: 1px solid #111;
	border-left: 1px solid #333;
	border-bottom: 1px solid #111;
}

.li_Child{
	background: #333 url("if_menu_li_bg.png") bottom repeat-x;
	font-size: 12px;
	text-indent: 0;
	padding-right: 10px;
	padding-left: 10px;
}

.li_Child a{
	background: #333 url("if_menu_a_bg.png") top repeat-x;
	display: block;
	font-size: 12px;
	line-height: 1.8em;
	padding-left: 5px;
}

.li_Child a:link,.li_Child a:visited{
 	border-left: 1px solid #111;
	border-right: 1px solid #333;
}
.li_Child a:hover{
 	border-left: 1px solid #f66;
	border-right: 1px solid #f66;
}

.disclaimer{
	font-size: 11px;
	color: #808080;
	padding: 5px;
	border-top: 1px solid #333;
	border-right: 1px solid #111;
	border-left: 1px solid #333;
	border-bottom: 1px solid #111;
}
/* ----------------------------------------- Content-Wrapper -- */
#Content-Wrapper{
	width: 704px;
	float: right;
}

#feed {
	width: 378px;
	float: left;
}

.feedcontainer{
	background-color: #191919;
	border-top: 1px solid #111;
	border-right: 1px solid #333;
	border-left: 1px solid #111;
	border-bottom: 1px solid #333;
	margin-right: 0;
}

.feedtitle{
	font-size: 14px;
	text-align:center;
	padding: 0;
	margin: 0;
	line-height: 1.8em;
	/*font-weight: normal;*/
	/*color: #f66;*/
	border-top: 1px solid #333;
	border-right: 1px solid #111;
	border-left: 1px solid #333;
	border-bottom: 1px solid #111;
}

.entryTitle{
	font-size: 12px;
	background: #333 url("if_entrytitle_bg.png") repeat-x top;
	margin: 0;
	padding: 4px;
	line-height:1.2em;
	border-top: 1px solid #333;
	border-right: 1px solid #111;
	border-left: 1px solid #333;
	border-bottom: 1px solid #111;
}

.entryCont{
	background-color: #333;
}

.basecontent{
	background: #333 url("if_content_bg.png") repeat-x;
	border-top: 1px solid #333;
	border-right: 1px solid #111;
	border-left: 1px solid #333;
	border-bottom: 1px solid #111;
}

.coverart{
	float: left;
	padding: 4px;
}

.content{
	margin: 4px 4px 4px 115px;
}

.content td {
	font-size: 12px;
	line-height: 1.2em;
	margin:0;
	padding: 2px 0;
}
.name_td{
	text-align: right;
	vertical-align: top;
	width: 56px;
}

.cprght{
	margin: 6px 0 0 4px !important;
	font-size: x-small !important;
	line-height: 1.2em !important;
}

/* ----------------------------------------- SearchResult -- */
#SearchResult{
	width : 312px;
	float: right;
	background-color: #191919;
	border-top: 1px solid #111;
	border-left: 1px solid #111;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
}

#SearchResult .gsc-control {
	float: right;
	width : 290px;
	padding: 10px;
	font-size : 12px !important;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-right: 1px solid #111;
	border-bottom: 1px solid #111;
	overflow: hidden;
}

img.gs-image{
	margin-bottom: 4px !important;
}

.gs-imageResult .gs-image-box{
	height: 96px !important;
}
.gs-imageResult {
	width:130px !important;
}

.gsc-imageResult {
	margin-right: 5px !important;
	margin-left: 5px !important;
}

.gsc-resultsHeader {
	border-bottom: 1px solid #6F6F6F !important;
}


/* ----------------------------------------- Footer-Wrapper -- */
#Footer-Wrapper{
	background-color: #191919;
	margin-top: 20px;
	text-align: center;
	border-top: 1px solid #111;
}
.Liner{
	height: 20px;
	background: #333 url("if_menu_bg.png") top repeat-x;
	border-top: 1px solid #333;
	border-bottom: 1px solid #111;
}
.footerContent{
	border-top: 1px solid #333;
}


.clear{
	clear: both;
}