@charset 'UTF-8';
html *{
	margin: 0;
	padding: 0;
}

body{
	min-width: 984px;
	background-color: #191919;
	color: #bbbbc9;
	font-size: 12px;
	font-family: Meiryo,
					'メイリオ',
					'Hiragino Kaku Gothic Pro',
					'ヒラギノ角ゴ Pro W3' ,
					'Century Gothic',
					Verdana;
}

a:link, a:visited{
	cursor: pointer;
	color: #99cc00;
	text-decoration:none;
}
a:hover,.mnTitle:hover,span.titleToggle:hover{
	color: #f66;
	text-decoration: none;
}

a img{
	cursor: pointer;
	vertical-align: middle;
	border: 1px solid #333;
}
a img:hover{
	border: 1px solid #f99;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
}

li{
	text-align: center;
	text-indent: 0;
	margin: 0;
	padding: 0;
	display: block;
}

/* ----------------------------------------- Header-Wrap -- */
#Header-Wrap{
	height: 120px;
	background: url("../img/if_header_bg.png") repeat-x bottom;
}
.header-logo{
	width: 984px;
	height: 120px;
	margin: 0 auto;
	background: url("../img/hblogo.png") no-repeat bottom left;
}
.header{
	height: 120px;
	background: url("../img/ks_if_header.png") no-repeat bottom center;
}
/* ----------------------------------------- Outer-Wrap -- */
#Outer-Wrap{
	background: url("../img/if_bg03.png");
}

#Content-Wrap1{
	width: 984px;
	margin: 0 auto;
	border-right: 1px solid #333;
	border-left: 1px solid #111;
}
#Content-Wrap2{
	background-color: #252525;
	border-right: 1px solid #111;
	border-left: 1px solid #333;
}
#Content-Wrap3{
	width: 940px;
	margin: 0 auto;
}

/* ------------------------------ background-color -- */
#Search,#feedTitle,#eOption,.mnTitle,
.disclaimer,.listOption,.ddLst{
	background-color: #191919;	
}

/* ----------------------------------------- border -- */
#Side-Wrap,.feedContainer,#Search-Wrap{
	border-top: 1px solid #111;
	border-right: 1px solid #333;
	border-left: 1px solid #111;
	border-bottom: 1px solid #333;
}

.mnTitle,.mnChild,.disclaimer,#eOption,#feedTitle,.entryTitle,.entryContent,#Search{
	border-top: 1px solid #333;
	border-right: 1px solid #111;
	border-left: 1px solid #333;
	border-bottom: 1px solid #111;
}
/* ----------------------------------------- Side-Wrap -- */
#Side-Wrap{
	width: 178px;
	float:left;
}

#Menu ul{
	padding: 0;
	margin: 0;
}

.mnTitle{
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	display: block;
	line-height: 2em;
	margin: 0;
	padding: 0;
}

#Footer-Wrap,.mnTitle,#feedTitle{
	text-align: center;
}

.mnChild{
	background: url("../img/if_menubg.png") no-repeat center;
}

.mnChild a{
	display: block;
	line-height: 2em;
	margin:0 10px;
}

.mnTitle span.tglL,.mnTitle span.tglR{
	color: #333;
	width: 1.4em;
	text-align: center;
}
.mnTitle span.tglL{
	float: left;
}
.mnTitle span.tglR{
	float: right;
}

#eOptionForm{
	 margin: 0 0 0 8px;
	 text-align: left;
}
#eOption select{
	border-width:1px
}
.frmLabel{
	text-align: right;
}
.listOption,.ddLst{
	color: #ccc;
}
.trdummy{
	height: 5px;
}

.disclaimer,.footerContent{
	color: #808080;
}
.disclaimer{
	height: 125px;
}

.disclaimer *{
	width: 162px;
	margin: 5px auto;
	text-align: left;
}

/* ----------------------------------------- Content-Wrap -- */
#Rank-Wrap{
	width: 440px;
	float: left;
}
#feed{

}

.feedContainer{
	width: 380px;
	margin: 0 auto;
}

#feedTitle{
	font-size: 16px;
	padding: 6px 0 4px;
	font-weight: normal;
}

.entryTitle{
	background: #333 url("../img/if_entrytitle_bg.png") repeat-x top;
	margin: 0;
	padding: 5px 4px 3px 4px;
	line-height:1.2em;
}
.entryTitle a{
	margin-left: 4px;
}
.titleToggle{
	cursor: pointer;
}

.entryContent{
	background: #333 url("../img/if_content_bg.png") repeat-x top;
}

.coverart{
	float: left;
	margin: 6px 0 6px 6px;
}
* html div.coverart{
	margin-left: 3px;
}

.content{
	width:255px;
	float: right;
	margin: 4px 4px 4px 0;
}

.content td {
	line-height: 1.2em;
	margin:0;
	padding: 2px 0;
}
td.eNametd{
	text-align: right;
	vertical-align: top;
	width: 58px;
}
td.eValuetd{
	vertical-align: top;
	width: 197px;
}

td.cprght{
	font-size: x-small;
	width: 255px;
}

/* ----------------------------------------- Search-Wrap -- */
#Search-Wrap{
	width : 318px;
	float: right;
}
#Search{
	width : 316px;
}

#Search .gsc-control {
	width : 300px;
	margin: 1em auto 0;
	padding: 0;
}


/* ----------------------------------------- Footer-Wrap -- */
#Footer-Wrap{
	text-align: center;
}

.Liner-Outer{
	border-top: 1px solid #111;
	border-bottom: 1px solid #333;
}

.Liner{
	height: 20px;
	background: url("../img/if_menu_bg.png") repeat-x ;
	border-top: 1px solid #333;
	border-bottom: 1px solid #111;
	clear:both;
}

.clear{
	clear: both;
}
.dummy{
	height: 20px;
}
