body{
	margin:0;
	padding:0;
	background-color:#333333;
	color:#c0c0c0;
	font-size:16px;
	font-family:Gisha;
}

body,textarea,select,option{
	font-family:tahoma;
}

a,a:link,a:visited{
	cursor:pointer;
	color:#999966;
	text-decoration:none;
}
a:hover{
	color:#ffff99;
}

#container{
	width:1000px;
	margin:0 auto;
}

.outer{
	border-top:1px solid #202020;
	border-bottom:1px solid #4c4c4c;	
}
.inner{
	border-top:1px solid #4c4c4c;
	border-bottom:1px solid #202020;
}

/* -- header --------------------------------------- */
#header{
	width:1000px;
	margin:0 auto;
	height:100px;
	background:url('./img/hb_logo002.png') no-repeat;
	text-align:center;
}
#header h2{
	color:#cc6699;
	font-family:"Candara","SimSun";
	font-weight:normal;
	font-size:24px;
	line-height:4em;
	margin:0;
}
/* -- wrap-current-styles -------------------------- */
#current-styles{
	margin:0 0 20px 0;
	width:100%;
}
#current-styles-table{
	text-align:center;
	table-layout:fixed;
	width:100%;
}
#current-styles-table th{
  color:#708090	;
}

/* -- wrap-preview -------------------------------- */
#wrap-preview{
	width:100%;
}

#preview{
	margin-left:240px;
	height:180px;
	overflow:hidden;
	padding:10px;
}

#preview p{
	line-height:1.2em;
	margin:0;
	padding:0;
}


/* ---------prev-styles--------- */
#wrap-prev-styles{
	text-align:center;
	width:220px;
	float:left;
}

#prev-styles-table{
	width:100%;
	border-spacing: 0;
	table-layout:fixed;
}

#prev-styles-table td.space{
	width:100%;
	height: 6px;
}

/* -- textarea -- */
#prev-textarea{
	color:#1a1a1a;
	background-color:#c0c0c0;
	font-size:16px;
	overflow:auto;
	line-height:1em;
	margin:0 auto;
	border-width:1px;
	width:218px;
}

/* -- apply color -- */
#tgl-apply-color{
	overflow:hidden;
	height:24px;
}

#tgl-apply-color,
#tgl-apply-color-string{
	line-height:24px;
	position:relative;
}

#tgl-apply-color-string{
	width:100%;
}
#tgl-apply-color-string a{
	display:block;
	width:100%;
}

/* -- show-css -- */
#wrap-show-css{
	border-top:1px solid #1a1a1a;
	border-right:1px solid #4c4c4c;
	border-bottom:1px solid #4c4c4c;
	border-left:1px solid #1a1a1a;
}
#show-css{
	display:block;
	height:24px;
	line-height:24px;
	border-top:1px solid #4c4c4c;
	border-right:1px solid #1a1a1a;
	border-bottom:1px solid #1a1a1a;
	border-left:1px solid #4c4c4c;
}
/* -- font weight & style -- */
#tgl-font-weight,
#tgl-font-style{
	display:block;
	height:24px;
	line-height:24px;
	border-top:1px solid #4c4c4c;
	border-right:1px solid #1a1a1a;
	border-bottom:1px solid #1a1a1a;
	border-left:1px solid #4c4c4c;
}

.ws-td{
	width:50%;
}
.wrap-ws{
	border-top:1px solid #1a1a1a;
	border-right:1px solid #4c4c4c;
	border-bottom:1px solid #4c4c4c;
	border-left:1px solid #1a1a1a;
}

.ws-td b,.ws-td i{}

/* ------- font-size -------*/
#wrap-prev-font-size{
	height:24px;
	line-height:24px;
}
#prev-font-size-lbl{}
#prev-font-size-select{
	color:#c0c0c0;
	background-color:#333;
	border:1px solid #666;
}

/* -- item-navi --------------------------------- */
#wrap-item-navi{
	margin:20px 0;
	width:100%;
}

#item-navi-table{
	width:100%;
	text-align:center;
}

#item-navi-table td{
	width:33%;
}

#item-navi-table tbody,
#item-navi-table tr,
#item-navi-table td{
	padding:0;
}
#item-navi-table a{
	padding:3px 20px;
	line-height:27px;
}

/* -- wrap-items ---------------------------- */
#wrap-items{
	width:100%;
	margin:0 auto;
}
div.item-container{
	width:100%;
}
#wrap-items table{
	table-layout:fixed;
	width:100%;
}
#wrap-items table td{
	font-size:14px;
	cursor:pointer;
	text-align:center;
	color:#1a1a1a;
}

#named-color-table td{
	height: 24px;
	line-height: 24px;
}
#web-color-table td{
	height: 40px;
	line-height: 40px;
}
/* -- font-family-item --------------------- */
#wrap-items table td.font-family-item{
	background-color:#4c4c4c;
	cursor:pointer;
	font-size:12px;
	text-align:center;
	color:#eee;
	overflow:hidden;
	line-height: 18px;
}

#wrap-items table td.font-family-item:hover{
	background-color:#333;
}

/* -- footer ----------------------------- */
#footer{
	margin-top:20px;
	text-align:center;
	border-top:1px solid #1a1a1a;
}
#footer-inner{
	border-top:1px solid #4c4c4c;
}

/* -- etc ----------------------------- */
#css-txtr{overflow:auto;}