body {
	font-family:"Candara";
}
a{
	cursor:pointer;
	color:#999966;
	text-decoration:none;
}
a:hover{
	color:#ffff99;
}

ul{
	margin-left:2em;
}

blockquote{
	margin:20px;
	background-color:#2a2a2a;
	border:1px solid #4c4c4c;
	padding:10px;
}

#outer-wrap1{
	border-right:1px solid #202020;
	border-left:1px solid #202020;	
}
#outer-wrap2{
	border-right:1px solid #4c4c4c;
	border-left:1px solid #4c4c4c;
	background-color:#333;	
}
#outer-wrap3{
	width:960px;
	margin: 0 auto;
}
