*{padding:0;margin:0;line-height:1.5em}
body {
	background-color:#1a1a1a;
	font-family:Meiryo,'メイリオ','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3' ,'Century Gothic',Verdana;
	font-size:16px;
}
h1{font-size:32px}
h2{font-size:24px}
h3{font-size:19px}
h4{font-size:16px}
h5{font-size:13px}
h6{font-size:11px}
small{font-size:13px}
ol,ul{text-indent:0;margin:0 0 0 1em;padding:0}
ol{margin-left:1.6em}
/*ブラウザによって異なるので後に明確に指定すること*/
img{border-width:0}
a{
	color:#006699;
	cursor:pointer;
	text-decoration:none;
}
a:hover{color:#0099ff}

a img,input,label{vertical-align:middle}
/* -=-=-=-=-=-=- header -=-=-=-=-=-=-=- */
#header-wrap,#header-inner,#header,#title{height:80px}
#header-wrap{background-image: url(../img/hb_head_bg_100x80.png)}
#header-inner{}
#header{background: url(../img/hb_logo_100x80.png) no-repeat bottom left}
#title{
	color:#bbb;
	font-size:24px;
	font-family:"Candara";
	text-align:center;
	font-weight:normal;
	line-height:80px;
	margin:0;
	padding:0;
}
/* -=-=-=-=-=-=- content wrap -=-=-=-=-=-=-=- */
#outer-wrap0{
	background-color:#1a1a1a;
	background-image: url(../img/bg_cb_120x120.png);
	width: 100%;
}
#header-inner,#outer-wrap1,#footer{
	margin:0 auto;
	min-width: 1000px;
	width:1000px;
}
/* -=-=-=-=-=-=- footer -=-=-=-=-=-=- */
#footer-wrap{
	background-image: url(../img/hb_footer_bg_100x80.png);
	background-repeat:repeat-x;
}
#footer{
	color:#999;
	font-family:"Candara";
	text-align:center;
}
#footer small{
	font-family:"Candara";
	font-size:14px;
	font-weight:bold;
	line-height:20px;
}
/* -=-=-=-=-=-=- line -=-=-=-=-=-=-=- */
.line-outer{
	border-bottom: 1px solid #4c4c4c;
	border-top: 1px solid #1a1a1a;
}
.line-inner{
	background-color:#333;
	background-image: url('../img/line_gra_40x40.png');
	border-bottom: 1px solid #1a1a1a;
	border-top: 1px solid #4c4c4c;
}
.clear,.line-inner{clear: both}
.line-inner{height: 20px}
.dummy{height:20px}