@charset "UTF-8";

.highslide {
  cursor: url('http://humming-bird.googlecode.com/svn/trunk/highslide/img/zoomin.cur'), pointer;
  outline: none;
}

/* 拡大したときにこれでサムネイルを隠す*/
.highslide-active-anchor img {
    visibility: hidden;
}

.highslide-wrapper {
	background: white;
}

.highslide-caption {
    display: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0 1em;
    line-height: 1.5em;
    background-color: silver;
    font-size: 10pt;
}

.highslide-loading {
    display: block;
	color: #ccc;
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
    text-decoration: none;
	padding: 2px;
	border: 1px solid #ccc;
    background-color: black;
    padding-left: 22px;
    background-image: url('http://humming-bird.googlecode.com/svn/trunk/highslide/img/loader.gif');
    background-repeat: no-repeat;
    background-position: 3px 1px;
}

a.highslide-full-expand {
	background: url('http://humming-bird.googlecode.com/svn/trunk/highslide/img/fullexpand.gif') no-repeat;
	display: block;
	margin: 0 10px 10px 0;
	width: 34px;
	height: 34px;
}

/* These must always be last */
.highslide-display-block {
    display: block;
}

.highslide-display-none {
    display: none;
}