<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript; charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css; charset=utf-8" />
	<title>Search YouTube by Python - humming bird</title>
	<link rel="stylesheet" type="text/css" href="tool/css/common.css" media="screen" charset="utf-8"/>
	<script src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js' type='text/javascript'></script>
	<script src="tool/js/common.js" type="text/javascript"></script>
</head>

<style type='text/css'>
	p{
		line-height:1.4em;
		margin:20px 0;
	}
	#footer p{
		margin:0;
	}
</style>
<body>

	<div id="header-wrap"><div id="header-inner"><div id="header">
		<h1 id="title" title="page title">Search YouTube by Python - humming bird</h1>
	</div></div></div>
	<div class="line-outer"><div class="line-inner"></div></div>
	
	<div id="outer-wrap0"><div id="outer-wrap1"><div id="outer-wrap2"><div id="outer-wrap3">
	<div class="clear dummy"></div>
		<h4>Please enter a search term:</h4>
		<form action="/yts3" method="post">
			<p><input type="text" name="keyword" value='{{keyword|default:"keyword"}}' /><input type="submit" value="Search YouTube" /></p>
		</form>
		
		
		<div id="yt-results">
			<table style="padding-top:20px"><tbody>
				{% if feed %}
					{% for e in feed.entry %}
						<tr><td>
						<h4>{{ e.title }}</h4><br/>

						<object width="425" height="355">
				            <param name="movie" value="{{e.playerURL}}"></param>
				            <param name="wmode" value="transparent"></param>
				            <embed src="{{e.playerURL}}" type="application/x-shockwave-flash" wmode="transparent" width="425" height="355"></embed>
						</object>
						
						<br/><br/>
						<p><b>description</b> : {{e.description}}</p>
						
						{% if e.average %}
			          		<span><b>Rating</b>: {{e.average|floatformat:"-3"}} of 5 stars   {{e.num_raters}} Votes</span>
						{% endif %}
						
						</td></tr><tr><td><hr/></td></tr>
					{% endfor %}
				{% endif %}
			</table></tbody>
		</div>
		
	
	<div class="clear dummy"></div>
	</div></div></div></div>

	<div class="line-outer"><div class="line-inner"></div></div>

	<div id="footer-wrap"><div id="footer"><br>
			<p>-| <a href="http://yas-hummingbird.blogspot.com/">Blog</a> | <a href="http://sites.google.com/site/2k8hummingbird/">Garage</a> | <a href="http://code.google.com/p/humming-bird/">Misc</a> |-</p>
			<p id='copyright' title='copyright'><span>© </span><span id='footer-page-title' title="page title">humming bird</span></p>
			<p><span>Last Modified:</span><span id="lastmod-date" title="last modified">2009/11/06</span></p>
			<p title="author">author:y@s</p>
	<br></div></div>

</body></html>